<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
            <a class="navbar-brand" href="{% url 'djangoapp:about-view' %}">About Us</a>
            <a class="navbar-brand" href="{% url 'djangoapp:contact-view' %}">Contact Us</a>
        </div>
        <ul class="nav navbar-nav navbar-right"></ul>
        {% if user.is_authenticated %}
        <span>
            <a class="btn btn-link">({{ user.username }})</a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
        </span>
        {% else %}
        <div class="navbar-header">
            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <input type="password" class="form-control" placeholder="Password" name="psw">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</nav>