<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact</div>
        <div class="card-body">
          <h5 class="card-title">Best Cars dealership</h5>
          <p class="card-text">Brandunburger Straße 112<br>
            12332, Berlin</p>
            <i class="fa fa-phone"></i>
            <a href="tel:01528931424">01528931424</a>
        </div>
      </div>
</body>
</html>