{% extends "base.html" %}

{% block content %}
<!--Add a dealer table here -->
<div class="container">
    <div id="filter">
        <select class="form-control bootstrap-table-filter-control-st">
            <option value=""></option>
        </select>
    </div>
</div>
<div>
    <table class="table" id="table" data-toggle="table" data-toolbar="#toolbar" data-filter-control="true"
        data-filter-control-container="#filter">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="full_name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="st" data-filter-control="select" data-filter-type="select"
                    filterControlPlaceholder="search by state...">State
                </th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
            <tr>
                <td>{{dealer.id}}</td>
                <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                <td>{{dealer.city}}</td>
                <td>{{dealer.address}}</td>
                <td>{{dealer.zip}}</td>
                <td>{{dealer.st}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}